.text-muted {
    color: #9A9A9A;
}

.text-primary, .text-primary:hover {
    color: #1D62F0 !important;
}

.text-info, .text-info:hover {
    color: #1DC7EA !important;
}

.text-success, .text-success:hover {
    color: #87CB16 !important;
}

.text-warning, .text-warning:hover {
    color: #FF9500 !important;
}

.text-danger, .text-danger:hover {
    color: #FF4A55 !important;
}

input{
    margin-bottom: 10px;
}

.login-logo{
    margin-bottom: 40px;
}
#login-btn{
margin-top: 30px;
cursor: pointer;
background-color: #1D62F0 !important;
color: #ffffff;
}
.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.login-div{
    min-width: 400px;
    background-color: #ffffff;
    padding: 30px 20px;
    min-height: 550px;
    align-self: center;
}
.login-div h2{
    text-align: justify;
    margin-bottom: 35px;
}

.credential-div{

    padding-bottom: 15px;
}
ul.nav.nav-mobile-menu{
    display: none;
}
.mb-40{
    margin-bottom: 40px;
}
.pl-20{
    padding-left: 20px;
}
.pl-30{
    padding-right: 30px;
}
.edit-btn{
   padding-left: 0;
    border: none;
    color: #FF9500;
    cursor: pointer;
}
.delete-btn{
    padding-left: 0;
    border: none;
    color: #FF4A55;
}
.pagination>li>a, .pagination>li>span{
    background-color: transparent;
    color: #9A9A9A;
}

.div-box-dashboard{
display: flex;
justify-content: center;
align-items: center;
}
.timetable-card{
    background-color: #ffffff;
    padding: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 11px -7px #424242;
    box-shadow: 0px 1px 11px -7px #424242;
}
a {
    color: #d24346;
}
a:hover{
    color: #212121;
}
.btn-primary{
    background-color: #FB404B;
    color:#fff;
    border-color: #FB404B;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-primary:hover{
    background-color: #fff;
    border: solid 2px #FB404B;
    color: #FB404B;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle{
    color: #FB404B;
    border-color: #FB404B;
    border-radius: 4px;
}
.bg-white{
    background-color: #fff;
}



/* padding and margin classes */

.mb-1{
margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;   
}
.mb-3{
    margin-bottom: 40px;
}
.mb-4{
    margin-bottom: 80px;
}
.mb-5{
    margin-bottom: 100px;
}


.form-control{
   
    -webkit-box-shadow:3px 3px 5px -3px #ccc;
    -moz-box-shadow: 3px 3px 5px -3px #ccc;
    box-shadow: 3px 3px 5px -3px #ccc;
}
.instructor-list{
    background-color: #fff;
    overflow-x: auto;
}
.sidebar[data-color="red"]:after{
 background: linear-gradient(to bottom, #FB404B 0%, #FB404B 100%);
}
.background-white{ background-color: #fff;}
.modal-header{background-color: #FF4A55;}
.modal-title{color: #fff; font-weight: bold;}
.btn-default{
    border-color: #212121;
    color: #fff;
    background-color: #212121;
}
.modal-header .close{color: #fff;}
.btn-secondary{
    border-color:  #212121;
    color: #fff;
    background-color: #212121;
    border-radius: 5px;
    border-radius: 4px;
}
.modal-body .btn-secondary{margin-top: 30px;}
